<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid class="header">
      <ion-row>
        <ion-col size="10">
          <ion-row>
            <ion-img src="../../assets/img/logo-butaca.png" alt="Logo Butaca App" class="header__logo">
            </ion-img>
            <ion-title class="header__titulo">
              utacaApp
            </ion-title>

          </ion-row>
        </ion-col>
        <ion-col size="2">
          <ion-avatar class="header__avatar">
            <img alt="Silhouette of a person's head" src="../../assets/img/avatar-user.jpg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="hero">

    <div class="overlay"></div>

    <div class="hero-content" *ngFor="let pelicula of listaPeliculas">
      <span class="badge"></span>
      <h1> {{pelicula.title}} </h1>
      <p>{{pelicula.overview}}</p>

      <ion-button>
        Ver Trailer
      </ion-button>
      <ion-button fill="outline">
        <ion-icon name="add-outline"></ion-icon> Agregar
      </ion-button>
    </div>

  </div>

</ion-content>