<ion-header translucent="true" class="custom-header">

  <ion-toolbar>

    <div class="header-container">

      <!-- IZQUIERDA -->

      <div class="header-brand">

        <img src="../../assets/img/logo-butaca.png" alt="Butaca App">

        <h1>ButacaApp</h1>

      </div>

      <!-- DERECHA -->

      <div class="header-actions">

        <ion-button fill="clear">

          <ion-icon name="notifications-outline">
          </ion-icon>

          <!-- BADGE -->

          <ion-badge *ngIf="cantidadNotificaciones > 0">

            {{ cantidadNotificaciones }}

          </ion-badge>

        </ion-button>

      </div>

    </div>

  </ion-toolbar>

</ion-header>


<ion-content fullscreen="true">

  <!-- HERO -->

  <div class="hero" *ngIf="listaPeliculas?.length"
    [style.background-image]="'url(https://image.tmdb.org/t/p/original' + listaPeliculas[0].backdrop_path + ')'">

    <div class="overlay"></div>

    <div class="hero-content">

      <span class="badge">TOP ESTRENO</span>

      <h1>{{ listaPeliculas[0].title }}</h1>

      <p>
        {{ listaPeliculas[0].overview }}
      </p>

      <div class="hero-buttons">

        <ion-button>
          ▶ Ver ahora
        </ion-button>

        <ion-button fill="outline">
          <ion-icon name="add-outline"></ion-icon>
          Mi Lista
        </ion-button>

      </div>

    </div>

  </div>

  <!-- CARTELERA -->

  <div class="section">

    <h2>Recomendadas</h2>

    <div class="movies-slider">

      <app-movie-card *ngFor="let pelicula of listaPeliculas" [pelicula]="pelicula">
      </app-movie-card>

    </div>

  </div>

</ion-content>